:root{
  --back-nav : #2680C0;
  --back-section:#F1F5F8;
  --black-color :#102A6B;
  --white-color:#FFFFFF;
  --blue-color-hover:#46A4DD;
  --red-color-hover:#E66B6B;
  --gray-color:#617d98;
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}


/* style navbar */
nav{
  width:100%;
  height: 80px;
  background-color: var(--back-nav);
  display: flex;
  justify-content:center;
  align-items: center;
}
nav .container{
  list-style: none;
   width: 90vw;
   height:60px;
   max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container  li{
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

nav .container li .icon{
  padding-top: 10px;
  color: var(--white-color);
  width: 30px;
  height: 30px;
  cursor: pointer;

}
nav .container .amount{
  width: 20px;
  height: 20px;
  border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 1px;
  font-size: 10px;
  letter-spacing: 0;
  color:var(--white-color);
  background-color:#85C6F4;
  position:absolute;
  top: -8px;
  right:0;

 
}

/* style of produts section */
section {
  width: 100%;
  height: 110vh;;
  background-color: var(--back-section);
  padding: 60px 0 0 0;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}
.container-products{
  width: 95vw;
  max-width: 800px;
 
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.container-products h2{
  color: var(--black-color);
  letter-spacing: 0.25rem;
  font-size:30px;
  font-weight:900;
}
.container-products .amount{
 width:100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-transform: capitalize;
 color: #102A42;
 font-size: 18px;
 font-weight: 500;
 letter-spacing: 0.25rem;
 padding: 20px 10px ;
 border-top: 2px solid #102A42 ;
}

.container-products .btn {
  color: red;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 10px;
  width: 180px;
  height:40px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--red-color-hover);
  cursor: pointer;
  transition: 0.3s linear;
}
.container-products .btn:hover{
  border: 1px dashed;
  background-color: var(--red-color-hover);
  opacity: 0.5;
}

.container-products h4{
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.25rem;
  color:var(--black-color) ;
  margin-top:40px;
}





/* style of Product Item  */

article{
  width: 90vw;
  max-width:800px;
  height:150px;
  display: grid;
  grid-template-columns: 120px 1fr auto;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
article img{
  width: 100px;
  height: 100px;
}
article div p:last-child{
  color: #2680C0;
  cursor: pointer;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  margin-top:10px;
  transition: 0.3s linear;
}

article div p:last-child:hover{
  color:var(--red-color-hover)
}
article div:last-child{
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: space-between;
}
article div .icon{
  font-size: 20px;
  height: 20px;
  color: #46A4DD;
  cursor:pointer;
}